{% for item in site.data.firstSection %}
	{% if item.name == include.section %}
		{% if include.invert == "yes" %}
			<div class="row first-section-inverted" id="{{ include.id }}">
		{% else %}
			<div class="row first-section" id="{{ include.id }}">
		{% endif %}
			<div class="half-row">
				<h4>{{ item.name }}</h4>
				{% for url in item.urls %}
					<img src="{{ url.link | prepend: site.baseurl }}" alt="">
				{% endfor %}
			</div>
			<div class="half-row">
				{% for paragraph in item.paragraphs %}
					<p>{{ paragraph.text }}</p>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endfor %}