<footer class="site-footer">

        <a href="#top"><p class="site-footer-backToTop">Back to top</p></a> <!--top: anchor on top of page-->
    
        <ul class="site-footer-links clearfix">
            <li><a href="{{ "/why-chopin/" | prepend: site.baseurl }}" class="page-link">Why Chopin?</a></li>
            <li><a href="{{ "/why-poland/" | prepend: site.baseurl }}" class="page-link">Why Poland?</a></li>
            <li><a href="{{ "/why-centrala/" | prepend: site.baseurl }}" class="page-link">Why CENTRALA?</a></li>
            <li><a href="{{ "/why-now/" | prepend: site.baseurl }}" class="page-link">Why Now?</a></li>
        </ul>
    
        <p class="site-footer-text">Website by: <a href="http://www.joshuamclucas.com">Joshua McLucas</a> and Elliott Nguyen</p>
</footer>
<script src="{{ "/scripts/nav-control.js" | prepend: site.baseurl }}"></script>