<footer class="site-footer">

        <a href="#top"><p class="site-footer-backToTop">Back to top</p></a> <!--top: anchor on top of page-->
    
        <p class="site-footer-links">
            <a href="{{ "/why-chopin/" | prepend: site.baseurl }}" class="page-link">Why Chopin?</a>
            <a href="{{ "/why-poland/" | prepend: site.baseurl }}" class="page-link">Why Poland?</a>
            <a href="{{ "/why-centrala/" | prepend: site.baseurl }}" class="page-link">Why CENTRALA?</a>
            <a href="{{ "/why-now/" | prepend: site.baseurl }}" class="page-link">Why Now?</a>
        </p>
    
        <p class="site-footer-text">Website by: </p>
</footer>
