<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <nav class="site-nav">
      <a href="#trigger" id="menu-icon" class="menu-icon">MENU</a>
    </nav>

    </div>

    <div class="trigger clearfix">
      <div class="nav-level-1 clearfix">
        <a href="{{ "/why-chopin/" | prepend: site.baseurl }}" class="page-link">Why Chopin?</a>
        <a href="{{ "/why-poland/" | prepend: site.baseurl }}" class="page-link">Why Poland?</a>
        <a href="{{ "/why-centrala/" | prepend: site.baseurl }}" class="page-link">Why CENTRALA?</a>
        <a href="{{ "/why-now/" | prepend: site.baseurl }}" class="page-link">Why Now?</a>
      </div>
      {% if page.title != "Chopin Without Piano" %}
      <div class="nav-level-2 clearfix">
        {% if page.title == "Why Chopin?" %}
          <a href="#first" class="page-link">First</a>
          <a href="#second" class="page-link">Second</a>
          <a href="#third" class="page-link">Third</a>
          <a href="#fourth" class="page-link">Fourth</a>
        {% endif %}
        {% if page.title == "Why Poland?" %}
          <a href="#first" class="page-link">First</a>
          <a href="#second" class="page-link">Second</a>
          <a href="#third" class="page-link">Third</a>
          <a href="#fourth" class="page-link">Fourth</a>
        {% endif %}
        {% if page.title == "Why CENTRALA?" %}
          <a href="#first" class="page-link">First</a>
          <a href="#second" class="page-link">Second</a>
          <a href="#third" class="page-link">Third</a>
          <a href="#fourth" class="page-link">Fourth</a>
        {% endif %}
        {% if page.title == "Why Now?" %}
          <a href="#first" class="page-link">First</a>
          <a href="#second" class="page-link">Second</a>
          <a href="#third" class="page-link">Third</a>
          <a href="#fourth" class="page-link">Fourth</a>
        {% endif %}
      </div>
      {% endif %}
    </div>

</header>