.row{
    width: 100%;
    float: left;
}
.half-row{
    width: 40%;
    margin: 2.5% 5%;
    float: left;
    @include media-query($on-palm){
        width: 90%;
        margin-top: 5%;
        margin-bottom: 0%;
    }
}

/**
 * Site header
 */
.site-header {
    z-index: 100;
    font-family: $sans-font-family-light;
    border-bottom: 1px solid $grey-color-light;
    background-color:#fff;
    position: fixed;
    top: 0px;
    width: 100%;

    .wrapper{
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
        max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
        margin-right: auto;
        margin-left: auto;
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
        @extend %clearfix;

        @include media-query($on-laptop) {
            max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
            max-width:         calc(#{$content-width} - (#{$spacing-unit}));
            padding-right: $spacing-unit / 2;
            padding-left: $spacing-unit / 2;
            
        /* 
            min-height: 100%;
            height: auto !important;
            height: 100%;*/
        }
    }
}

.site-title {
    text-transform: uppercase;
    font-size: $base-font-size + 1.4em;
    line-height: $base-line-height;
    margin: 10px 0;
    float: left;
    a{
        &:hover, &:visited{
            color: inherit;
        }
    }    
}

.site-nav {
    float: right;    

    .menu-icon {
        font-family: $sans-font-family-bold;
        font-size: $base-font-size + 0.2em;
        line-height: $base-line-height + 1.2em;
        color: $red-color;
        float: right;
        text-align: center;
        vertical-align: center;
        padding: 10px 15%;

        &:hover {
            background-color: $red-color;
            color: #fff;
        }
    }
    .activeNav{
        background-color: $red-color !important;
        color: #fff !important;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

.nav-level-1{
    width: 100%;
    background-color: $grey-color-light;
    padding: 1% 0%;
}

.nav-level-2{
    background-color: $grey-color-light;
    padding: 1% 0%;
    width: 100%;
    display: block;
    border-top: 1px solid black;
}

.trigger {
    clear: both;
    display: none;
    width: 100%;
    .page-link{
        font-size: $base-font-size + 0.2em;
        width: 25%;
        float: left;
        text-align: center;
    }
}

@include media-query($on-palm){
    .site-header .wrapper{
        max-width: inherit;
        max-width:         inherit;
        margin-right: inherit;
        margin-left: 2.5%;
        padding-right: inherit;
        padding-left: inherit;
    }
    .site-title{
        font-size: $base-font-size + 0.2em;
    }
    .site-nav .menu-icon {
        font-family: $sans-font-family-bold;
        font-size: $base-font-size - 0.1em;
        line-height: $base-line-height + 0.3em;
        color: $red-color;
        float: right;
        text-align: center;
        vertical-align: center;
        padding: 10px 15%;
    }
    .trigger .page-link{
        width: 100%;
        margin: 5% 0%;
        font-size: $base-font-size;
    }
}

/**
* Homepage
**/
.homepage-main-section{
    position: relative;
    width: 100%;
}
.homepage-heading{
    font-size: 8vw;
    font-family: $display-font-family;
    width: 100%;
    color: #fff;
    line-height: 100%;
    position: absolute;
    right: 0px;
    bottom: 20%;
    text-align: right;
}
.homepage-main-image{
    width: 100%;
}
.showInfoRow{
    width: 100%;
    li{
        width: 33%;
        float: left;
        font-family: $sans-font-family-normal;
        font-size: $base-font-size + 2.5em;
        text-align: center;
    }
    @include media-query($on-palm){
        li{
            font-size: $base-font-size + 0.75em;
        }
    }
    @include media-query($on-micro){
        li{
            font-size: $base-font-size;
        }
    }
}
.home h3{
    text-align: center;
    font-family: $alt-display-font-family;
    font-size: $base-font-size + 6em;
    margin-bottom: 0%;
    @include media-query($on-micro){
        font-size: 4em;
    }
}
.home h4{
    font-family: $alt-display-font-family;
    font-size: $base-font-size + 1.5em;
}
.home p{
    font-size: $base-font-size;
}
#panelForm textarea{
    width: 100%;
    resize: none;
}
#panelForm .submit{
    background-color: $red-color;
    font-family: $alt-display-font-family;
    float:right;
    color: #fff;
    border: 1px solid black;
    margin-top: 1%;
    width: 33%;
    font-size: $base-font-size + 0.5em;
}
.logoSpread h4{
    width: 100%;
    font-family: $sans-font-family-normal;
    font-size: $base-font-size + 2.5em;
    text-align: center;
    @include media-query($on-palm){
        margin-top: 5%;
        font-size: $base-font-size + 1.5em;
    }
}
.logoSpread img{
    width: 20%;
    margin: 0% 2.5%;
    float:left;
    @include media-query($on-micro){
        width: 40%;
        margin: 0% 5%;
    }
}

/**
 * Site footer
 */
.site-footer {
    font-family: $sans-font-family-light;
    font-size: $base-font-size;
    padding: ($spacing-unit / 2) ($spacing-unit * 1.5);
    position: relative;
    background-color: $grey-color-dark;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
    color: $grey-color;
    a:hover{
            color: $grey-color;
        }
    ul li{
        float:left;
        width: 25%;        
        @include media-query($on-micro){
            width: 50%;
            margin: 5% 0%;
        }
    }
}
.site-footer-links {
    margin: 2.5% 0%;
}

/**
* Categorical Selection
**/
.selectors li{
    width: 18.5%;
    margin: 2.5%;
    float: left;
    border: 5px solid #fff;
    @include media-query($on-palm){
        width: 43%;
    }
    @include media-query($on-micro){
        width: 93%;
    }
}
.activeSelect{
    border: 5px solid $red-color !important;
}
.descriptors{
    margin-bottom: 2.5%;
    li{
        display: none;
        width: 90%;
        margin: 0% 5%;
        font-size: $base-font-size;
    }
}
.activeDisplay{
    display: block !important;
}


/**
 * Page content
 */
.page-content {
    margin-top: 65px;
}

@include media-query($on-palm){
    .page-content{
        margin-top: 45px;
    }
}

/*.page-heading {
    font-size: 20px;
}*/

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}
